---
import { allMaisons } from '../../../backend.mjs';
import Base from '../../../layouts/Base.astro';

const { minPrix, maxPrix } = Astro.params;
const min = parseInt((minPrix, 350000)) ;
const max = parseInt((maxPrix, 10000000));

const offres = await allMaisons();

const offresFiltrees = offres.filter(offre => offre.prix >= min && offre.prix <= max);
---

<Base titre={`Maisons entre ${min} € et ${max} €`}>
    <h2 class="text-6xl text-center">Maisons entre {min} € et {max} €</h2>

    {offresFiltrees.length > 0 ? (
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-4 w-full">
            {offresFiltrees.map(offre => (
            <a href={`/offres/${offre.id}`} class="block bg-blue-50 rounded-lg shadow-md hover:shadow-lg transition-shadow p-4">
            <img src={offre.imgUrl} alt={offre.nomMaison} class="w-full h-48 object-cover rounded-t-lg mb-3"/>
            <div class="text-lg font-semibold text-gray-800">
            <span class="italic text-3xl">{offre.nomMaison}</span> - <span class="font-bold text-green-600 text-3xl">{offre.prix} €</span>
            </div>
            </a>
        ))}
    </div>
       ) : (
        <p>Aucune maison ne correspond ces tarifs.</p>
    )}

<div class="flex justify-center mt-6">
    <a href="/offres" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-6 rounded-lg transition duration-200">
        Retour aux offres
    </a>
</div>
</Base>