---
const { ...offre } = Astro.props;
---

<div class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 hover:shadow-lg">
  <!-- Mode Flex (image à gauche, texte à droite) -->
  <div class="flex flex-col sm:flex-row h-full">
    <!-- Image -->
    <div class="w-full sm:w-1/2 flex-shrink-0">
      <img
        src={offre.imgUrl}
        alt={offre.nomMaison}
        class="w-full h-64 sm:h-full object-cover"
      />
    </div>

    <!-- Texte -->
    <div class="w-full sm:w-1/2 p-5 flex flex-col justify-between bg-blue-50">
      <ul class="space-y-2">
        <li class="font-bold text-lg pb-5 flex items-center justify-between">
          <div class="flex items-center">
            {offre.favori && <span class="text-yellow-500 text-xl mr-2">⭐</span>}
            {offre.nomMaison}
          </div>

          
          <img src="../../public/etoile.png" alt="" class="w-8 h-8">
        </li>
        <li class="text-gray-700 pb-2">{offre.adresse}</li>
        <li class="text-green-600 font-bold">{offre.prix} €</li>
        <li class="text-gray-700">{offre.nbChambres} Chambres</li>
        <li class="text-gray-700">{offre.nbSdb} Salles de bain</li>
        <li class="text-gray-700 pt-5">{offre.surface} m²</li>
        <a href={`/offres/${offre.id}`} class="inline-block mt-4 px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 transition duration-300">Voir plus</a>
      </ul>
    </div>
  </div>
</div>

<script>
  //@ts-nocheck
  import { setFavori } from "../../backend.js";
  window.setFavori = setFavori;
</script>